.main-container {
  display: flex;
  justify-content: space-around;
}

.webpage-name {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50%;
}

@media only screen and (max-width: 768px) {
  .main-container {
    display: block;
  }
  .webpage-name {
    justify-content: center;
    position: static;
    margin-top: 10px;
  }
}
